<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorSampleApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        @* 
            Adding a nav link for our new page. The NavLink component will
            render an anchor tag and correctly apply an .active class to 
            the link if it is currently being displayed.
        *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="random-number">
                <span class="oi oi-random" aria-hidden="true"></span> Max Random Number
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calculator">
                <span class="oi oi-calculator" aria-hidden="true"></span> Basic Calculator
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lotto-quick-pick">
                <span class="oi oi-dial" aria-hidden="true"></span> Lotto Picker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="edmonton-oilers">
                <span class="oi oi-list" aria-hidden="true"></span> Edmonton Oilers Roster
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="form-controls">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Form Controls Demo
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="service">
                <span class="oi oi-clipboard" aria-hidden="true"></span> Form Page with Validation
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
